body {
    background-color: #efeee7
    font used: "Georgia",Times New Roman,Times,serif;
    font-color: #eee;
    margin: 0;
    padding: 0;
    }


header {
background-color: #333333;
    }

h1 {
        font-color: #eee;
        font-size: 28px;
        margin: center;

    }

