/**
 * Google Fonts Demo
 **/

/* Add in the Google Fonts of your choice */
h1 {
  font-family: 'Libre Franklin', sans-serif;

}

.thought1 {

  font-family: 'Miss Fajardose', cursive;
}

.thought2 {

  font-family: 'Pacifico', cursive;
}
